body {
    display: flex;
    background-color: #1f283d !important;
    color: white !important;
    height: 100dvh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

p, h1 { /* to use Roboto font */
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-align: center;
}

h1 {
    font-weight: bold !important;
    color: #6dc3f0 !important;
    font-size: 4vh !important;
}

p {
    font-size: 2.5vh;
}

.marg {
    margin: 10px;
}

/* responsive-img: for the cade image, so that it increases size on desktop */
.responsive-img {
    width: 50%;
}
/* for desktop screens (screens wider than 768px) */
@media (min-width: 768px) {
    .responsive-img {
        width: 15%;
    }
}

/* link properties (they'll all be blue) */
a {
    text-decoration: dotted underline !important;
    padding: 1px;
    white-space: pre;
    color: #b1feff !important;
}
a:hover {
    color: black !important;
    background-color: #b1feff !important;
}
::selection {
    background-color: #2a4584;
    color: white;
}